<br>
  <br>

<section class='FlexContainer'>

 <% clinic.forEach(clinic => { %>
<div>
 
<h2 class="name">Name:<%= clinic.name %></h2>
<h4 class="age">Age:<%= clinic.age %></h4>
<p class="description">Description:<%= clinic.description %></p>
<p class="text-muted">Time:<%= clinic.time.toLocaleTimeString() %></p>
<h4 class="medicine">Medicine:<%= clinic.medicine %></h4>
<h5 class="payment">Ksh:<%= clinic.payment %></h5>
<a href="#" class="btn btn-primary">Edit</a>
<a href="#" class="btn btn-danger">Delete</a>
  
         
</div>
 <% }) %>


   
        </section>